In [1]:
# Import dependencies and get data
import numpy as np
import pandas as pd
import quandl
import datetime as dt
from matplotlib import style

quandl.ApiConfig.api_key="VfTJzYEZLzxyaKsFmHDf"

## Get Data for Portfolio and Benchmark

In [2]:
# Get Data for Portfolio and Benchmark
symbols = ['WIKI/FB.4','WIKI/AMZN.4','WIKI/AAPL.4','WIKI/NFLX.4','WIKI/GOOGL.4' ]

# Change column Names
clean_symbols = []
for symbol in symbols:
    symbol = symbol.split("WIKI/")[-1].split(".4")[0]
    clean_symbols.append(symbol)
    
allocations = [1102, 168, 1183, 994, 186]
allocation_df = pd.DataFrame({'Symbol': clean_symbols,
                             'Allocations': allocations}).set_index('Symbol')
allocation_df

        Allocations
Symbol
FB             1102
AMZN            168
AAPL           1183
NFLX            994
GOOGL           186

## Calculate the weights today

In [3]:
# Calculate the weights today
today = dt.datetime.today()
price_data_today = quandl.get(symbols,  start_date="2017-12-08", end_date="2017-12-08", collapse="daily")
price_data_today.columns = clean_symbols
equity_positions = price_data_today * allocations

equity_positions = equity_positions.transpose()
port_val_today = equity_positions.sum().sum()
weights = equity_positions/port_val_today
price_data = price_data_today.transpose()
price_data

Date   2017-12-08
FB         179.00
AMZN      1162.00
AAPL       169.37
NFLX       188.54
GOOGL     1049.38

In [4]:
equity_positions

Date   2017-12-08
FB      197258.00
AMZN    195216.00
AAPL    200364.71
NFLX    187408.76
GOOGL   195184.68

In [5]:
port_val_today

975432.15000000002

In [6]:
weights

Date   2017-12-08
FB       0.202226
AMZN     0.200133
AAPL     0.205411
NFLX     0.192129
GOOGL    0.200101

## Calculate the weights Prior

In [7]:
# Calculate the weights Prior
buy_in_date = dt.datetime(2017,1,3)
price_at_buy_in = quandl.get(symbols, start_date=buy_in_date, end_date=buy_in_date, collapse='daily')
price_at_buy_in.columns = clean_symbols
equity_positions_prior = price_at_buy_in* allocations
equity_positions_prior = equity_positions_prior.transpose()
port_val_prior = equity_positions_prior.sum()
weights_prior = equity_positions_prior/port_val_prior
weights_prior

Date   2017-01-03
FB       0.192261
AMZN     0.189032
AAPL     0.205139
NFLX     0.189194
GOOGL    0.224375

In [8]:
price_at_buy_in

                FB    AMZN    AAPL    NFLX   GOOGL
Date
2017-01-03  116.86  753.67  116.15  127.49  808.01

In [9]:
equity_positions_prior

Date   2017-01-03
FB      128779.72
AMZN    126616.56
AAPL    137405.45
NFLX    126725.06
GOOGL   150289.86

In [10]:
port_val_prior

Date
2017-01-03    669816.65
dtype: float64

## Get the result of the current and prior weights

In [11]:
# Get the result of the current and prior weights
result = pd.concat([allocation_df, price_data, weights, weights_prior], axis=1)
result.columns = ["Original Num Shares", "Current Share Price", "Current Weights", "Weights Prior"]
result

,Original Num Shares,Current Share Price,Current Weights,Weights Prior
Symbol,,,,
FB,1102,179.00,0.202226,0.192261
AMZN,168,1162.00,0.200133,0.189032
AAPL,1183,169.37,0.205411,0.205139
NFLX,994,188.54,0.192129,0.189194
GOOGL,186,1049.38,0.200101,0.224375

In [12]:
# Set basic under and overweight status for visuals
result['Status'] = np.where(result['Current Weights']> result['Weights Prior'], 'Overweight', 'Underweight')
result

,Original Num Shares,Current Share Price,Current Weights,Weights Prior,Status
Symbol,,,,,
FB,1102,179.00,0.202226,0.192261,Overweight
AMZN,168,1162.00,0.200133,0.189032,Overweight
AAPL,1183,169.37,0.205411,0.205139,Overweight
NFLX,994,188.54,0.192129,0.189194,Overweight
GOOGL,186,1049.38,0.200101,0.224375,Underweight

In [13]:
result.iloc[1,3]

0.18903167008464183

In [14]:
# Get current market value
result['Current Market Val']=equity_positions
result

,Original Num Shares,Current Share Price,Current Weights,Weights Prior,Status,Current Market Val
Symbol,,,,,,
FB,1102,179.00,0.202226,0.192261,Overweight,197258.00
AMZN,168,1162.00,0.200133,0.189032,Overweight,195216.00
AAPL,1183,169.37,0.205411,0.205139,Overweight,200364.71
NFLX,994,188.54,0.192129,0.189194,Overweight,187408.76
GOOGL,186,1049.38,0.200101,0.224375,Underweight,195184.68

In [15]:
# Get Target market value
result['Target Market Val']=equity_positions_prior
result

,Original Num Shares,Current Share Price,Current Weights,Weights Prior,Status,Current Market Val,Target Market Val
Symbol,,,,,,,
FB,1102,179.00,0.202226,0.192261,Overweight,197258.00,187537.707753
AMZN,168,1162.00,0.200133,0.189032,Overweight,195216.00,184387.568369
AAPL,1183,169.37,0.205411,0.205139,Overweight,200364.71,200099.077136
NFLX,994,188.54,0.192129,0.189194,Overweight,187408.76,184545.573381
GOOGL,186,1049.38,0.200101,0.224375,Underweight,195184.68,218862.223361

In [16]:
# Solve for new Share Amounts

solve_weights = []

for r in range(0,5):
    
    # share counter
    x = result.iloc[r,0]
    
    # current number of shares
    allocation = result.iloc[r,0]
    
    # current stock price
    share_price = result.iloc[r,1]
    
    # current equity value
    equity = allocation * share_price
    
    # target equity value
    target = result.iloc[r,6]
    
    # current weight
    current_weight = (equity / port_val_today)
    
    # Over/Underweight
    status = result.iloc[r,4]
    
    # Target Weight
    target_weight = result.iloc[r,3]

    
    if current_weight >= target_weight:  
        difference = target - equity
        shares = difference // share_price
        solve_weights.append(allocation + shares)


    elif current_weight <= target_weight:
        difference = target - equity
        shares = difference // share_price
        solve_weights.append(allocation + shares)
    
        
solve_weights

[1047.0, 158.0, 1181.0, 978.0, 208.0]

In [17]:

#==============================================================================
#Output
#==============================================================================
solve_weights = pd.DataFrame({'Symbol': clean_symbols, 
                  'New Share Amount': solve_weights}).set_index('Symbol')
        
solve_weights

        New Share Amount
Symbol
FB                1047.0
AMZN               158.0
AAPL              1181.0
NFLX               978.0
GOOGL              208.0

In [18]:
# Here is how we add an additional column to our existing df
# we simply have to pd.concat the new df to the current df, and make sure to set the axis=1
result = pd.concat([result, solve_weights], axis=1)
result

,Original Num Shares,Current Share Price,Current Weights,Weights Prior,Status,Current Market Val,Target Market Val,New Share Amount
Symbol,,,,,,,,
FB,1102,179.00,0.202226,0.192261,Overweight,197258.00,187537.707753,1047.0
AMZN,168,1162.00,0.200133,0.189032,Overweight,195216.00,184387.568369,158.0
AAPL,1183,169.37,0.205411,0.205139,Overweight,200364.71,200099.077136,1181.0
NFLX,994,188.54,0.192129,0.189194,Overweight,187408.76,184545.573381,978.0
GOOGL,186,1049.38,0.200101,0.224375,Underweight,195184.68,218862.223361,208.0

In [23]:
result['# Buy/Sell'] = np.where(result['Status'] == "Overweight", result['New Share Amount'] - result['Original Num Shares'], result['New Share Amount'] - result['Original Num Shares'])
result

,Original Num Shares,Current Share Price,Current Weights,Weights Prior,Status,Current Market Val,Target Market Val,New Share Amount,# Buy/Sell,Action
Symbol,,,,,,,,,,
FB,1102,179.00,0.202226,0.192261,Overweight,197258.00,187537.707753,1047.0,-55.0,Sell
AMZN,168,1162.00,0.200133,0.189032,Overweight,195216.00,184387.568369,158.0,-10.0,Sell
AAPL,1183,169.37,0.205411,0.205139,Overweight,200364.71,200099.077136,1181.0,-2.0,Sell
NFLX,994,188.54,0.192129,0.189194,Overweight,187408.76,184545.573381,978.0,-16.0,Sell
GOOGL,186,1049.38,0.200101,0.224375,Underweight,195184.68,218862.223361,208.0,22.0,Buy

In [24]:
result['Action'] = np.where(result['Status'] == "Overweight","Sell", "Buy")
result

,Original Num Shares,Current Share Price,Current Weights,Weights Prior,Status,Current Market Val,Target Market Val,New Share Amount,# Buy/Sell,Action
Symbol,,,,,,,,,,
FB,1102,179.00,0.202226,0.192261,Overweight,197258.00,187537.707753,1047.0,-55.0,Sell
AMZN,168,1162.00,0.200133,0.189032,Overweight,195216.00,184387.568369,158.0,-10.0,Sell
AAPL,1183,169.37,0.205411,0.205139,Overweight,200364.71,200099.077136,1181.0,-2.0,Sell
NFLX,994,188.54,0.192129,0.189194,Overweight,187408.76,184545.573381,978.0,-16.0,Sell
GOOGL,186,1049.38,0.200101,0.224375,Underweight,195184.68,218862.223361,208.0,22.0,Buy

In [25]:
print ("---------Number of Shares to Buy/Sell------------")
print (pd.concat([result['Action'], result['# Buy/Sell']], axis=1))

---------Number of Shares to Buy/Sell------------
       Action  # Buy/Sell
Symbol
FB       Sell       -55.0
AMZN     Sell       -10.0
AAPL     Sell        -2.0
NFLX     Sell       -16.0
GOOGL     Buy        22.0